/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0% 20% 0% 20%;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

p {
    line-height: 1.4;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}


/*--------My CSS starts here-------*/


.topbox {
display:flex;
flex-direction: row;
justify-content: space-around;
width: 900px;
padding-top: 10px;
padding-bottom: 20px;
}


.firstbar{
    width: 180px;
   
    padding-top: 20px;
}

.navbuttons{
    width: 743px;
}

 .navbuttons a{
    display:flex;
    align-content: center;
    flex-direction: row;
 
    width: 720px;
}

.topbox a {
display: flex;
justify-content: space-evenly;
padding-top: 20px;
}


.top-pic{
    width:900px;
    background-color:blue;
    display:flex;
    justify-content: center;
    padding-bottom: 20px;
}


#blue.box{
   background-color: teal; 
}

#yellow.box{
    background-color:gold;
}

#blue2.box{
    background-color:cadetblue;
}

#orange.box{
    background-color:coral;
}

#red.box{
    background-color:crimson;
}

#green.box{
    background-color:forestgreen;
}

#purple.box{
    background-color:darkorchid;
}

#pink{
    background-color:hotpink;
}

#darkpurple.box{
    background-color:indigo;
}

#lightblue.box{
background-color:dodgerblue;
}


.container{
	width:900px;
    
}

.bottom-content{
       padding-left:10px;
        margin: auto;
        padding-bottom:10px ;
}

.top-content {
	display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content:space-around;
}

.wrap-bottom{
    width:900px;

}

#home-footer{
width:900px ;
padding-top: 30px;
padding-bottom: 20px;
}

#home-footer {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}

#home-footer a{
    color:white;
display: flex;

}






/*-------- Start here my Css for ABOUT WEBSITE-----------*/ 

nav{
    display:flex;
    justify-content: row;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 30px;
}




nav .links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

}

.logo{
    
    width: 180px;
}

.links{
    padding-top: 10px;
    width: 700px;
    display: flex;
    justify-content: center;
}

a{
    background-color:
  
}


/*--------limit to seperate links and logo from the rest of the page----*/

#body-about{
    margin: 0px 25% 0px 25%;
}

.container-about{
  
   margin: 10px 5px;
   padding:10px; 
   width: 800px;
}

hr{
  border: 1px dashed black;  
  width:800px;
}

.middle-pics{
  display:flex;
  flex-direction: row;
  
  width: 800px;
}


.strategy{
    display:flex;
    flex-direction: column;
    
    padding:1% 1% 1% 1%;
}

.strategy-button{
    padding: 1% 1% 1% 1%;
}

.how-we-work{
    padding:1% 1% 1% 1%;
    
}

button{
    padding: 1% 6% 1% 6%;
}

.bottom-pics{
    display:flex;
    flex-direction: row;
    
    width: 800px;
    justify-content: center;
}


.places-we-work{
    display:flex;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
    
}



.collaboration{
    padding: 1% 1% 1% 1%;
    
}

.places-we-work-button{
    padding: 1% 1% 1% 1%;
}

.lets-work{
    padding: 20px;
    
    width: 800px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}